.input-method {
    margin: 3% 10%;
    padding: 20px;
    text-align: center;
}

.inputtask {
    margin: 10px;
    width: 60%;
    margin-right: 8%;
}

.task-list {
    margin: 3% 10%;
    padding: 20px;
    text-align: center;
}

.task {
    display: flex;
    margin: 1% 15%;
    padding: 20px 30px;
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    justify-content: space-between;
    align-items: baseline;
}